* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', 'sans-serif';
    color: #000;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

/*Utilities*/

.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.12);
    margin-top: 10px;
}

/*Header*/

header {
    height: 70px;
    margin-top: 20px;
}

header .flex {
    justify-content: space-between;
}

header .flex .search-bar {
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto 0 40px;
    padding: 7.5px 5px 7.5px 25px;
    justify-content: space-between;
    justify-self: flex-start;
    height: 40px;
    width: 720px;
    box-shadow: 0 2px 5px 1px rgb(0 0 0 / 0.1);
}

header .flex .search-bar .search-bar-right {
    display: flex;
    margin-left: 10px;
}

header .flex .search-bar .search-bar-right>* {
    padding: 8px 12px;
    align-self: center;
    cursor: pointer;
}

header .flex .search-bar input {
    width: 100%;
    font-size: 16px;
    outline: none;
    border: none;
}

header .flex .header-right {
    display: flex;
    height: 100%;
}

header .flex .header-right>* {
    align-self: center;
    margin: auto 16px;
}

header .flex .header-right> :nth-child(1), header .flex .header-right> :nth-child(2) {
    padding: 10px;
}

header .flex .header-right> :nth-child(1):hover, header .flex .header-right> :nth-child(2):hover {
    cursor: pointer;
    background-color: rgb(235, 231, 231);
    border-radius: 100%;
}

header .flex .sign-in-btn {
    width: 130px;
    height: 40px;
    justify-self: center;
    padding: 10px 0;
    text-align: center;
    background: #1a73e8;
    border: 1px solid transparent;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    border-radius: 5px;
}

header .flex .sign-in-btn:hover {
    transform: scale(1.02);
}

header img {
    height: 30px;
    width: 90px;
}

header .search-mic {
    background: url(https://web.archive.org/web/20191130234759im_/https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png) 0 0 no-repeat;
    height: 24px;
    width: 24px;
    background-size: 24px;
    align-self: center;
}

header .search-keyboard {
    color: rgb(77, 75, 75);
}

header .search-glass {
    color: #4285f4;
}

header .logo {
    width: 100px;
    height: 35px;
}

/* Main */

.main .container {
    margin: 0 auto 0 150px;
    width: 750px;
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.navbar .cards {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .tools {
    font-size: 14px;
    margin-bottom: 15px;
}

.navbar .tools a {
    padding: 4px 12px;
    color: #5f6368;
}

.navbar .tools a:hover {
    border: 1px solid #b1b4b8;
    border-radius: 3px;
    color: #4e5053;
}

.navbar .navbar-card {
    display: flex;
    align-items: center;
    margin-right: 25px;
    padding-bottom: 12px;
    cursor: pointer;
    color: #5f6368;
}

.navbar .navbar-card>* {
    margin-right: 5px;
}

.navbar-card .material-icons, .navbar-card .material-icons-outlined {
    font-size: 18px;
}

.navbar-card p {
    font-size: 14px;
}

/*Results */

.results {
    margin-top: 20px;
}

.results .result-count {
    font-size: 14px;
    color: #70757a;
    margin-bottom: 20px;
}

.results .result-card {
    margin-bottom: 30px;
    width: 650px;
    margin-right: auto;
}

.results>:nth-child(2) {
    margin-bottom: 44px;
}

.results .result-card>* {
    padding-top: 8px;
}

.results .result-card> :first-child {
    padding-top: 0;
}

.results .result-card h3 {
    font-size: 14px;
    line-height: 1.3;
    font-style: normal;
    font-weight: normal;
}

.results .result-card a {
    font-size: 20px;
    display: block;
    color: #1a0dab;
}

.results .result-card a:hover {
    text-decoration: underline;
}

.results .result-card p {
    line-height: 1.58;
    font-size: 14px;
    color: #4d5156;
}

/* Similar questions */

.result-questions {
    margin-bottom: 44px;
}

.result-questions lh {
    display: block;
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
}

.result-questions li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    font-size: medium;
    font-weight: normal;
    color: #202124;
}

.results .result-card .people-search {
    margin-top: 10px;
    padding: 18px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    width: 600px;
    height: 130px;
    font-size: 14px;
}

.people-search .flex {
    justify-content: space-between;
    margin-bottom: 10px;
}

.people-search .flex h4 {
    color: rgba(0, 0, 0, .57);
}

.people-search .flex span {
    font-size: 16px;
    color: rgba(0, 0, 0, .57);
}

.card-grid {
    display: grid;
    grid-template-columns: 30% 30%;
    grid-template-rows: 14px;
    gap: 10px;
}

.results .card-grid a {
    font-size: 14px;
}

.results .result-card .links {
    display: flex;
    padding-top: 4px;
}

.results .result-card .links a {
    font-size: 14px;
    padding-right: 12px;
}

/* Related searches */

.related-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    column-gap: 20px;
    margin-top: 20px;
}

.related-card {
    background-color: #f1f3f4;
    ;
    border-radius: 100px;
    color: #202124;
    font-size: 16px;
    width: 320px;
    height: 50px;
    padding: 0 27px;
    display: flex;
    align-items: center;
}

.related-card span {
    font-size: 22px;
}

.related-card a {
    color: #202124;
    font-size: 16px;
    margin-left: 20px;
    font-weight: bold;
}

.related-card a:hover {
    text-decoration: underline;
}

/* Footer */

footer {
    margin-top: 40px;
    background-color: #f1f3f4;
    height: 60px;
}

footer .container{
    margin-left: 150px;
    padding: 30px;
}

footer .flex{
    justify-content: flex-start;
}

footer a{
    padding-right: 37px;
    color: #70757a;
}